<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label for="nome">Nome:</label>
    <input id="nome" name="nome" type="text">
    <button onclick="cadastrar()">Cadastrar</button>
</body>
<script src="../../util/jquery-3.7.1.min.js"></script>
<script>
    function cadastrar(){
        $.ajax({
            url: '../../control/alunoControle.php',
            type: 'POST',
            data:{
                acao: 'cadastrar',
                nome: $('#nome').val(),
            },
            success: function(retorno){
                console.log(retorno);
                location.reload();
            }
        })
    }
</script>
</html>